.cardContainer {
  position: relative;
  width: 340px;
  overflow: hidden;
  border-radius: 10px;
}

.imageContainer img {
  overflow: hidden;
  height: 200px;
  border-radius: 10px;
}

.bookmarkIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: large;
}

.bookmarkShadow {
  background-color: black;
  height: 100px;
  width: 100px;
}

.content {
  display: flex;
  color: #c3c4c7;
  font-size: 13px;
  margin-top: 7px;
}

.dot {
  margin-left: 4px;
  margin-right: 4px;
  display: inline-flex;
  -webkit-text-security: disc;
  font-weight: 700;
}

.movieName {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 253, 253);
}

.dynamicIcon {
  display: flex;
  align-items: center;
}

.totalContent {
  display: flex;
  flex-direction: column;
  font-family: jost;
  margin-left: 7px;
  margin-bottom: 4px;
}
